---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
// const result = pathname.match(/^\/$/) ? pathname : pathname.slice(0,-1);

let pathname = Astro.url.pathname.match("/A/z/")
  ? Astro.url.pathname
  : Astro.url.pathname.slice(0, -1);

let isActive = href === pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
